<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bicycle Parking</title>
    <link th:href="@{/styles/bicycleParkingResults.css}" rel="stylesheet" />
    <!--
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.1/js/bootstrap.min.js" 
    integrity="sha512-EKWWs1ZcA2ZY9lbLISPz8aGR2+L7JVYqBAYTq5AXgBkSjRSuQEGqWx8R1zAX16KdXPaCjOCaKE8MCpU0wcHlHA==" 
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" 
    integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" 
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    -->
</head>
<body>
    <div class="main">
        <div class="navbar">

            <div class="icon">
            <!--<h2 class="logo"></h2>-->
            <img class="logo" th:src="@{/images/SGBP_Reg.png}">
            </div>
    
            <div class="menu">
            <ul>
                <!--<li><a href="#">HOME</a></li>-->
                <li><a th:href="@{/BikeParking}">SEARCH</a></li>
                <li><a th:href="@{/Favourite}">FAVOURITE</a></li>
                <li><a th:href="@{/}">LOGOUT</a></li>
            </ul>
            </div>
        </div>
        <div class="response">
            <div class="info">
                <h2><span th:text="${respDetails}"></span></h2>
            </div>
            <div class="row">
                <div class="col">
                    <table th:each="detail : *{details}">
                        <div class="table">
                            <tr>
                                <td rowspan="8"><img th:src= "${detail.img}" width=500 height=350/></td>
                                
                                <td rowspan="8">&nbsp</td>
                                <td rowspan="8">&nbsp</td>
                                <td rowspan="8">&nbsp</td>
                                <td rowspan="8">&nbsp</td>
                                
                                <td><br/></td>
                                <td><br/></td>
                                
                            </tr>
                            <tr>
                                <td>Description: </td>
                                <td><span th:text="${detail.description}"></span></td>
                            </tr>
                            <tr>
                                <td>Distance: </td>
                                <td><span th:text="${detail.distance}"></span> metres</td>
                            </tr>
                            <tr>
                                <td>Rack Type: </td>
                                <td><span th:text="${detail.rackType}"></span></td>
                            </tr>
                            <tr>
                                <td>Rack Count: </td>
                                <td><span th:text="${detail.rackCount}"></span></td>
                            </tr>
                            <tr>
                                <td>Sheltered bay: &nbsp</td>
                                <td><span th:text="${detail.shelter}"></span></td>
                            </tr>
                            <tr>
                                <td>
                                  <button th:attr="onclick=|upload('${value}')|" >Add to favourite</button>
                                </td>
                                <td><br/></td>
                            </tr>
                            
                            <tr>
                                <td><br/></td>
                                <td><br/></td>
                            </tr>
                            
                        </div>
                    </table>
                </div>
            </div>

        </div>
        
    
    </div>
</body>
</html>