@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
*{
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
  font-style: light;
  line-height: 1.15;
  letter-spacing: -.02em;
  color: rgba(0, 0, 0, 0.8);
  -webkit-font-smoothing: antialiased;
  
}
.main{
  padding-top: 2%;
  width: 100%;
  background-color: #bfbfbf;
  background-position: center;
  background-size: 100% 100%;
  height: 96.5vh;
  
}
.navbar{
  width: 95%;
  height: 120px;
  margin: auto;
  background-color: rgba(166, 59, 77);
  border-radius: 20px;
}
.icon{
  width: 200px;
  height: 70px;
  float: left;
}
.logo{
  height: 100px;
  padding-left: 30px;
  padding-top: 10px;
  float: left;
}
.menu{
  width: 400px;
  height: 100px;
  float: right;
}
.menu ul{
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 10%;
}
.menu ul li{
  list-style: none;
  margin-left: 70px;
  margin-top: 38px;
  font-size: 24px;
}
.menu ul li a{
  text-decoration: none;
  font-weight: bold;
  transition: 0.4s ease-in-out;
}
.menu ul li a:hover{
  color: white;
}

.search{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.search .search_box{
  width: 750px;
  background: #fff;
  height: 70px;
  border-radius: 5px;
  display: flex;
  padding: 10px;
  box-shadow: 0 8px 6px -10px #b3c6ff;
  border-radius: 20px;
}
.search .search_box .dropdown{
  left: 40px;
  width: 200px;
  height: 70px;
  border: none;
  color: black;
  position: relative;
  cursor: pointer;
  font-size: 18px;
}
.search .search_box .search_field{
  padding-left: 90px;
  width: 350px;
  height: 100%;
  position: relative;
  float: right;
}
.search .search_box .search_field .input{
  width: 100%;
  height: 100%;
  border: 0;
  font-size: 18px;
  padding-left: 20px;
  padding-right: 38px;
  color: #6f768d;
}
.search .search_box .search_field .fas{
  position: absolute;
  top: 25px;
  right: -50px;
  font-size: 22px;
  color: #A63B4D;
  cursor: pointer;
}
.main .row{
  padding-top: 2%;
  padding-left: 15%;
  width: 100%;
  background-color: #bfbfbf;
  background-position: center;
  background-size: 100% 100%;
  height: auto;
  
}
.main .row .col .table{
  padding-top: 2%;
}

::-webkit-input-placeholder{
  color: #9fa3b1;
}

::-moz-input-placeholder{
  color: #9fa3b1;
}

::-ms-input-placeholder{
  color: #9fa3b1;
}