@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
*{
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
  line-height: 1.15;
  letter-spacing: -.02em;
  -webkit-font-smoothing: antialiased;
  
}
.wraper{
  width: 100%;
  height: 100vh;
  background: #A63B4D;
  display: flex;
}

.box_1{
  width: calc( 45% - 40px) ;
  height: 97vh;
  background: #A63B4D;
  background-repeat: no-repeat;
  background-image: url("../images/BPMain.png");
  background-size: 80% auto;
  background-position: center;
}
.box_1 .image{
  padding-top: 20%;
  display: block;
  text-align: center;
}
.logo{
  height: auto;
  max-width: 500px;

  /*
  max-height: 20%;
  padding-top: 150px;
  height: 750px;
  width: auto;
  */
}

.box_2{
  width: calc( 55% + 40px );
  height: 100vh;
  background: white;
  border-left: 200px solid #A63B4D;
  border-bottom: 100vh solid transparent;
  box-sizing: border-box;
}
h1{
  font-size: 40px;
  width: auto;
  text-align: center;
}
p{
  padding-top: 30px;
  font-style: light;
  font-size: 30px;
}
.form{
  padding-top: 20px;
  width: 100%;
}
input[type="text"]{
  font-size:24px;
}
button[type="submit"]{
  font-size: 24px;
}

.content{
  padding-top: 30%;
  text-align: center;
  display: block;
  color: black;
  font-size: 16px;
  padding-bottom: 25%;
}
.gif_box{
  padding-top: 50%;
  width: 100%;
  height: 40vh;
  background: transparent;
  box-sizing: border-box;
  text-align: center;
  background-repeat: no-repeat;
  background-image: url("../images/index.gif");
  background-size: 60% auto;
  background-position: center;
}
/*
.gif{
  
  padding-top: 30px;
  padding-left: 25px;
  
  display: block;
  padding-left: 10px;
  text-align: center;
}
.gif .index_gif{
  padding-top: 10%;
  width: 500px;
  height: auto;
}
*/
